<div fxLayout="row" fxLayoutAlign="center">
  <form [formGroup]="signupForm"
        class="signUp"
        [ngClass]="signUpClass"
        (ngSubmit)="signUp()"
        novalidate
        fxLayout="column">
    <h3>Create Your Account</h3>
    <p>Just enter your email address
      and your password for join.
    </p>
    <mat-form-field>
      <input matInput
             class="w100"
             type="email"
             placeholder="Email Address"
             autocomplete="off"
             formControlName="email"/>
      <mat-error *ngIf="fcErr(1, 'email', 'required')">Email required</mat-error>
      <mat-error *ngIf="fcErr(1, 'email', 'email',['required'])">Email is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             class="w100"
             type="password"
             placeholder="Password"
             autocomplete="off"
             formControlName="password"/>
      <mat-error *ngIf="fcErr(1, 'password', 'required')">Password required</mat-error>
      <mat-error *ngIf="fcErr(1, 'password', 'minLength', ['required'])">Minimum of 6 characters required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             class="w100"
             type="password"
             placeholder="Verify Password"
             autocomplete='off'
             formControlName="password2"/>
      <mat-error *ngIf="fcErr(1, 'password2', 'required')">Repeat Password required</mat-error>
      <mat-error *ngIf="fcErr(1, 'password2', 'no-match', ['required'])">Passwords do not match</mat-error>
    </mat-form-field>
    <button class="form-btn sx back" type="button" (click)="changeToSignIn()">Log In</button>
    <button class="form-btn dx" type="submit" [disabled]="signupForm.invalid">Sign Me Up!</button>
  </form>
  <form [formGroup]="loginForm"
        class="signIn"
        [ngClass]="signInClass"
        (ngSubmit)="signIn()"
        novalidate
        fxLayout="column">
    <h3>Welcome Back !</h3>
    <button class="fb"
            type="button"
            fxFlexAlign="center">Log In With Facebook
    </button>
    <p>- or -</p>
    <mat-form-field>
      <input
        matInput
        class="w100"
        type="email"
        placeholder="Email Address"
        autocomplete='off'
        formControlName="email"/>
      <mat-error *ngIf="fcErr(2, 'email', 'required')">Email required</mat-error>
      <mat-error *ngIf="fcErr(2, 'email', 'email',['required'])">Email is invalid</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        class="w100"
        type="password"
        placeholder="Password"
        formControlName="password"/>
      <mat-error *ngIf="fcErr(2, 'password', 'required')">Password required</mat-error>
    </mat-form-field>
    <!--<div *ngIf="errorLogin" style="color: red">Your email or password is incorrect!</div>-->
    <button class="form-btn sx back" type="button" (click)="changeToSignUp()">Sign Up</button>
    <button class="form-btn dx" type="submit" [disabled]="loginForm.invalid">Log In</button>
  </form>
</div>
