<div fxLayout="row" fxLayoutAlign="center">
  <form [formGroup]="signupForm"
        class="signUp"
        [ngClass]="signUpClass"
        (ngSubmit)="signUp()"
        novalidate
        fxLayout="column">
    <h3>Create Your Account</h3>
    <p>Just enter your email address
      and your password for join.
    </p>
    <mat-form-field>
      <input matInput
             class="w100"
             type="email"
             placeholder="Email Address"
             required
             autocomplete="off"
             formControlName="email"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             class="w100"
             type="password"
             placeholder="Password"
             required
             autocomplete="off"
             formControlName="password"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput
             class="w100"
             type="password"
             placeholder="Verify Password"
             required
             autocomplete='off'
             formControlName="password2"/>
    </mat-form-field>
    <button class="form-btn sx back" type="button" (click)="changeToSignIn()">Log In</button>
    <button class="form-btn dx" type="submit">Sign Me Up!</button>
  </form>
  <form [formGroup]="loginForm"
        class="signIn"
        [ngClass]="signInClass"
        (ngSubmit)="signIn()"
        novalidate
        fxLayout="column">
    <h3>Welcome Back !</h3>
    <button class="fb"
            type="button"
    fxFlexAlign="center">Log In With Facebook</button>
    <p>- or -</p>
    <mat-form-field>
      <input
        matInput
        class="w100"
        type="email"
        placeholder="Email Address"
        autocomplete='off'
        required
        formControlName="email"/>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        class="w100"
        type="password"
        placeholder="Password"
        required
        formControlName="password"/>
    </mat-form-field>
    <!--<div *ngIf="errorLogin" style="color: red">Your email or password is incorrect!</div>-->
    <button class="form-btn sx back" type="button" (click)="changeToSignUp()">Sign Up</button>
    <button class="form-btn dx" type="submit">Log In</button>
  </form>
</div>
