<mat-sidenav-container class="main-container">
  <mat-sidenav mode="side" [opened]="navbarOpen">
    <mat-nav-list>
      <a *ngFor="let route of routes" mat-list-item
         [routerLink]="route.route">
        <dwa-margin-icon [iconName]="route.icon">
        </dwa-margin-icon>
        {{route.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <dwa-toolbar (navToggle)="toggleNav()"></dwa-toolbar>
    <div style="margin-left: 10px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
